<h1>Editing Advertisement</h1>
<br>
<%= render 'form', advertisement: @advertisement %>
<br>
<%= link_to 'Show', @advertisement,class:"btn btn-secondary" %> 
<%= link_to 'Back', advertisements_path,class:"btn btn-dark" %>
