<br><br><br><br>
<div class="container">
<h1 style="align:center;">About Creatix</h1><br>
<h4>It is a web application which publics new advertisements and also gives functionality of edit,update, delete the
 already exiting advertisements.</h4><br>
<ul>
<li> To publish new advertisements, please login/signup.</li>
<li>To edit existing advertisements please login and then click to view and edit the particular product.
</li>
</ul>
